.mapboxgl-ctrl-group {
  overflow: hidden;
}

  .mapboxgl-ctrl-group:not(:empty) {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
  }

  .mapboxgl-ctrl-group button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mapboxgl-ctrl-group button svg {
      vertical-align: top;
    }

  /* geolocate control is broken for display: flex */

  .mapboxgl-ctrl-group .mapboxgl-ctrl-geolocate {
    display: block;
  }

  /* remove broken button focus shadow */

  .mapboxgl-ctrl-group button:focus {
    box-shadow: none;
  }
.mapboxgl-ctrl-compass {
  position: relative;
  border-radius: 50%;
  overflow: visible;
  opacity: 0;
  visibility: hidden;
  transition: .1s all ease-in-out;
  cursor: pointer;
}
.mapboxgl-ctrl-compass.-active {
    opacity: 1;
    visibility: visible;
  }
.mapboxgl-ctrl-compass button {
    position: relative;
    border-radius: 50%;
  }
.mapboxgl-ctrl-compass svg {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -11px;
    margin-top: -11px;
  }
.mapboxgl-ctrl-ruler button.-active svg {
        fill: #4264fb;
      }
.mapboxgl-ctrl-styles {
  display: flex;
}
.mapboxgl-ctrl-styles button {
    width: auto;
    display: flex;
    align-items: center;
    padding: 0 8px;
  }
.mapboxgl-ctrl-styles button + button {
      border: none;
    }
.mapboxgl-ctrl-styles button.-active {
      background: #f5f5f5;
    }
.mapboxgl-ctrl-zoom button:first-child {
      border-radius: 2px 2px 0 0;
    }
.mapboxgl-ctrl-zoom button:last-child {
      border: none;
      border-radius: 0 0 2px 2px;
    }
.mapboxgl-ctrl-inspect-popup {
    position: absolute;
    padding-top: 5px;
    transform: translate(-50%, 0);
  }
.mapboxgl-ctrl-inspect-content {
    position: relative;
    padding: 5px;
    font-size: 12px;
    font-family: sans-serif;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
  }
.mapboxgl-ctrl-inspect-content:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #fff;
    }
.mapboxgl-ctrl-inspect-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    user-select: none;
  }
.mapboxgl-ctrl-inspect-prev,
  .mapboxgl-ctrl-inspect-next {
    padding: 2px 12px;
    border-radius: 4px;
  }
.mapboxgl-ctrl-inspect-prev:hover, .mapboxgl-ctrl-inspect-next:hover {
      background: rgba(0, 0, 0, 0.05);
      cursor: pointer;
    }
.mapboxgl-ctrl-inspect-prev:hover svg, .mapboxgl-ctrl-inspect-next:hover svg {
        fill: #4264fb;
      }
.mapboxgl-ctrl-inspect-prev svg, .mapboxgl-ctrl-inspect-next svg {
      vertical-align: top;
    }
.mapboxgl-ctrl-inspect-prev {
    margin-right: 6px;
  }
.mapboxgl-ctrl-inspect-next {
    margin-left: 6px;
  }
.mapboxgl-ctrl-inspect-feature {
    width: 100%;
    min-width: 200px;
    border-collapse: collapse;
  }
.mapboxgl-ctrl-inspect-feature th, .mapboxgl-ctrl-inspect-feature td {
      padding: 5px;
    }
.mapboxgl-ctrl-inspect-feature th {
      text-align: right;
    }
.mapboxgl-ctrl-inspect-feature tr:not(:last-child) td, .mapboxgl-ctrl-inspect-feature tr:not(:last-child) th {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      }
.mapboxgl-ctrl-inspect button.-active svg {
        fill: #4264fb;
      }
.mapboxgl-ctrl-tooltip {
  padding: 5px 7px;
  background: #fff;
  border-radius: 2px;
  position: absolute;
  transform: translate(-50%, 0);
  margin-top: 24px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 3;
}
/* show tooltip over controls buttons with z-index 2 */
.mapboxgl-ctrl-tooltip:empty {
    display: none;
  }
.mapboxgl-ctrl-around {
  border-radius: 50%;
}
.mapboxgl-ctrl-around.-active svg {
      fill: #4264fb;
    }