.mapgl-image {
	button {
		display: flex;
		align-items: center;
		justify-content: center;
		color: #333;
		cursor: pointer;
		&.-active {
			color: #4264fb;
		}
		&[hidden] {
			display: none;
		}
		&:disabled {
			opacity: 0.5;
		}
	}

	input[type='file'] {
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
		width: 1px;
		height: 1px;
	}
}
