.mapbox-control {
  button {
    display: flex;
    align-items: center;
    justify-content: center;

    &.-active {
      background: rgba(0, 0, 0, 0.03);

      svg {
        fill: #4264fb;
      }
    }

    &[disabled] {
      pointer-events: none;

      svg {
        fill: rgba(0, 0, 0, 0.2);
      }
    }
  }
}