body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

a {
    color: #2196F3;
}

h1 {
    font-size: 42px;
    font-weight: 400;
}

h2 {
    font-size: 32px;
    font-weight: 400;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

iframe {
    border: 0;
    width: 100%;
    height: 500px;
    margin-bottom: 36px;
}

code {
    display: block;
    padding: 16px;
    margin: 16px 0;
    line-height: 1.6;
    background: #f0f0f0;
}

/* Github icon */

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}
