.mapboxgl-ctrl-group {
  overflow: hidden;

  &:not(:empty) {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      vertical-align: top;
    }
  }

  /* geolocate control is broken for display: flex */
  .mapboxgl-ctrl-geolocate {
    display: block;
  }

  /* remove broken button focus shadow */
  button:focus {
    box-shadow: none;
  }
}